.pageContent {
    display: flex;
    flex-direction: column;
    align-items:center;
}

#pendingTaskContainer, #finalizedTaskContainer {
    margin-top: 20px;
    display: flex;
    align-content: center;
    width: 100%;
    max-width:2000px;
    flex-wrap: wrap;
    justify-content: center;
}

#pendingTaskContainer > div, #finalizedTaskContainer > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    border: 4px solid black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.singleTask > div {
    margin: 5px;
}

.pendingTask {
    background-color: orange;
}

.finalizedTask {
    background-color: green;
}

.divTitle, .divCreationDate, .divDueDate, .divStatus, .divDaysRemaining {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divTaskButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(0%);
    transition: filter 0.3s ease-in-out;
}

button:hover img {
    filter: brightness(0) saturate(100%) invert(100%);
}